name: Push latest
on:
  push:
    branches:
      - main

jobs:
  push:
    name: Push :latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          username: nadiamoe
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - run: |
          TAG=nadiamoe/netdbg
          docker build . -t $TAG
          docker push $TAG
